.landingPage {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.7)
		),
		url("../../assets/landing-bg.webp");
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.landingWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 30rem;
}

h1 {
	font-size: 6rem;
	font-weight: bold;
}

.landingButton {
	width: 100px;
	height: 50px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: bold;
	background-color: #000000;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.landingButton:hover {
	cursor: pointer;
	background-color: #ffffff;
	color: #000000;
	transition: all 0.3s;
}

a {
	text-decoration: none;
	color: white;
}
